@model Product


<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
          Name
        </dt>
        <dd class = "col-sm-10">
            @Model.Name
        </dd>
        <dt class = "col-sm-2">
            Price
        </dt>
        <dd class = "col-sm-10">
            @Model.Price
        </dd>
    </dl>
</div>
<div>
    <a href="/Products/index" class="btn btn-secondary">Back to List</a>
</div>
